:root {
  --color-primary: #c29e5b;
  --color-primary-tint: #ede2ce;
  --color-primary-shade: #3a2f1b;
  --color-accent: #61a48a;
  --color-accent-tint: #d0e4dc;
  --color-accent-shade: #1d3129;
  --color-light: #fff;
  --color-dark: #0a100e;
  --col-width: 14rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  color: var(--color-accent-shade); }

img {
  width: 100%; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf"); }

@font-face {
  font-family: "Sacramento";
  src: url("fonts/Sacramento-Regular.ttf"); }

h1,
h2 {
  font-family: "Sacramento", cursive; }

h1 {
  font-size: 10rem;
  color: var(--color-primary-shade); }

h2 {
  font-size: 6.4rem;
  margin-bottom: 1.6rem;
  color: var(--color-primary-shade); }

p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3.2rem; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease; }

.btn--lg {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  border-radius: 0.7rem; }

.btn--main {
  color: var(--color-light);
  background-color: var(--color-accent); }

.btn:hover, .btn:active {
  color: var(--color-light);
  background-color: var(--color-accent-shade); }

.composition {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .composition__image {
    width: 100%;
    display: block;
    height: 100%; }
  .composition__image-box {
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.2); }
    .composition__image-box--1 {
      transform: translateY(0); }
    .composition__image-box--2 {
      transform: translateY(3rem) translateX(-3rem); }
    .composition__image-box--3 {
      transform: translateY(6rem) translateX(-6rem); }

.grid {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr);
  grid-gap: 2rem; }

header,
main,
footer {
  grid-column: 2 / 10; }

.header {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @supports (gap: 2rem) {
    .header {
      gap: 2rem; } }
  .header__logo {
    width: auto;
    height: 15rem; }
  .header__navigation {
    margin-bottom: 10rem; }
  .header__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__list:not(:last-child) {
      margin-right: 2rem; }
    @supports (gap: 2rem) {
      .header__list {
        gap: 2rem; }
        .header__list:not(:last-child) {
          margin-right: 0; } }
  .header__image-box {
    width: 30%; }
  .header__link {
    display: inline-block;
    padding: 1rem 1.6rem;
    color: var(--color-primary);
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize; }

.section-aboutme {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem; }
