:root {
  --color-primary: #c29e5b;
  --color-primary-tint: #ede2ce;
  --color-primary-shade: #3a2f1b;
  --color-accent: #61a48a;
  --color-accent-tint: #d0e4dc;
  --color-accent-shade: #1d3129;
  --color-dark: #0a100e;
  --col-width: 14rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  color: var(--color-dark); }

img {
  width: 100%; }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf"); }

@font-face {
  font-family: "Sacramento";
  src: url("fonts/Sacramento-Regular.ttf"); }

h1,
h2 {
  font-family: "Sacramento", cursive; }

h1 {
  font-size: 10rem;
  color: var(--color-primary-shade); }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400; }

.grid {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr);
  grid-gap: 2rem; }

header,
main,
footer {
  grid-column: 2 / 10; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  @supports (gap: 2rem) {
    .header {
      gap: 2rem;
      margin-bottom: 0; } }
  .header__logo {
    width: auto;
    height: 15rem; }
  .header__navigation {
    margin-bottom: 10rem; }
  .header__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__list:not(:last-child) {
      margin-right: 2rem; }
    @supports (gap: 2rem) {
      .header__list {
        gap: 2rem; }
        .header__list:not(:last-child) {
          margin-right: 0; } }
  .header__image-box {
    width: 30%; }
  .header__link {
    display: inline-block;
    padding: 1rem 1.6rem;
    color: var(--color-primary);
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize; }
