:root {
  // Colors
  --color-primary: #c29e5b;
  --color-primary-tint: #ede2ce;
  --color-primary-shade: #3a2f1b;
  --color-accent: #61a48a;
  --color-accent-tint: #d0e4dc;
  --color-accent-shade: #1d3129;
  --color-light: #fff;
  --color-dark: #0a100e;

  // Spacing
  --col-width: 14rem;
}
