.composition {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // column-gap: 2rem;

  &__image {
    width: 100%;
    display: block;
    height: 100%;
  }

  &__image-box {
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.2);

    &--1 {
      transform: translateY(0);
    }
    &--2 {
      transform: translateY(3rem) translateX(-3rem);
    }
    &--3 {
      transform: translateY(6rem) translateX(-6rem);
    }
  }
}
