@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Sacramento";
  src: url("fonts/Sacramento-Regular.ttf");
}
h1,
h2 {
  font-family: "Sacramento", cursive;
}
h1 {
  font-size: 10rem;
  color: var(--color-primary-shade);
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
}
