.header {
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @supports (gap: 2rem) {
    gap: 2rem;
  }

  &__logo {
    width: auto;
    height: 15rem;
  }

  &__navigation {
    margin-bottom: 10rem;
    position: relative;
  }

  &__navigation.active {
    width: 50%;
    text-align: center;

    & .header__nav-bg {
      transform: scale(60);
    }

    & .header__list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      column-gap: 0;
      row-gap: 4rem;
      width: 100%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 300;
      display: grid;

      & .header__link {
        color: var(--color-light);
        font-size: 2.4rem;
      }
    }

    & .header__btn-dash {
      background-color: var(--color-light);

      &::before {
        top: 0;
        transform: rotate(-45deg);
      }
      &::after {
        bottom: 0;
        transform: rotate(45deg);
      }
    }
  }

  &__nav-bg {
    background-image: radial-gradient(
      var(--color-primary),
      var(--color-primary-tint)
    );
    height: 40px;
    width: 40px;
    position: fixed;
    top: 11%;
    right: 6.5%;
    z-index: 200;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.5s ease-out;
  }

  &__btn {
    padding: 3rem 1.5rem;
    background-color: var(--color-light);
    position: fixed;
    top: 10%;
    right: 5.8%;
    z-index: 400;
    border-radius: 50%;
    display: none;

    &:hover {
      cursor: pointer;
    }

    @include respond(tabletPortrait) {
      display: inline-block;
    }
  }
  &__btn-dash {
    width: 25px;
    height: 3px;
    background-color: var(--color-primary);
    position: relative;

    &::after,
    &::before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 3px;
      background-color: var(--color-primary);
    }
    &::before {
      position: absolute;
      top: 10px;
      left: 0;
    }
    &::after {
      position: absolute;
      bottom: 10px;
      left: 0;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;

    @include respond(tabletPortrait) {
      display: none;
    }
  }
  &__image {
    width: 40%;
  }
  &__link {
    display: inline-block;
    padding: 1rem 1.6rem;
    color: var(--color-primary);
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-primary-shade);
    }
  }

  &__hero {
    display: flex;
    justify-content: space-between;
    gap: 6rem;

    @include respond(tabletPortrait) {
      flex-direction: column;
      align-items: center;
    }
  }
}

// About me Section
.section-aboutme {
  padding: 16rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;

  @include respond(tabletLandscape) {
    grid-template-columns: 2fr 3fr;
  }
  @include respond(tabletPortrait) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 6rem;
    column-gap: normal;
  }
}

.section-how-it-works {
  padding: 16rem 0;
}
.section-slider {
  padding: 16rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
  align-items: center;

  @include respond(phone) {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
}
.slider-text {
  @include respond(phone) {
    order: -1;
  }
}
.section-gallery {
  padding: 16rem 0;
}
.section-contact {
  background-color: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include respond(tabletPortrait) {
    grid-template-columns: 2fr 1fr;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}
.contact__text {
  padding: 3rem;
}
.contact__image {
  background: linear-gradient(
      to right,
      rgb(194, 158, 91),
      rgba(194, 158, 91, 0.5)
    ),
    url(../img/contact.webp) 50% 40% / cover;
  height: 100%;

  @include respond(phone) {
    height: 25rem;
    order: -1;
  }
}

.footer {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    @include respond(phone) {
      gap: 6rem;
    }
  }
  &__link {
    display: inline-block;
  }
  &__icon {
    height: 2rem;
    width: 2rem;

    fill: var(--color-primary);
    transition: all 0.3s ease;
    &:hover,
    &:active {
      fill: var(--color-primary-shade);
    }

    @include respond(phone) {
      height: 3rem;
      width: 3rem;
    }
  }
  &__copyright {
    font-size: 1.6rem;
    color: var(--color-grey);

    & a {
      text-transform: capitalize;
      text-decoration: none;
      color: currentColor;
    }
  }
}
